.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color:#14141e;
}

body{
    font-family: "Aboreto", cursive;
  height: 100%;
  background-color: #14141e;
}
#root{
  height: 100%;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

